<!--Navbar -->
<nav class="navbar">
  <a>
    <img src="../../../assets/Skyban logo with transparent background.png"
  /></a>

  <!-- Notification -->
  <div class="justify-content-end" id="bell">
    <li class="nav-item dropdown">
      <a
        class="nav-link"
        id="navbarDropdownMenuLink"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <i class="fa fa-bell" aria-hidden="true">
          <sup class="notification">5</sup></i
        >

        <p>
          <span class="d-lg-none d-md-block">Some Actions</span>
        </p>
      </a>
      <div
        class="dropdown-menu dropdown-menu-right"
        aria-labelledby="navbarDropdownMenuLink"
      >
        <a class="dropdown-item">Mike John responded to your email</a>
        <a class="dropdown-item">You have 5 new tasks</a>
        <a class="dropdown-item">You're now friend with Andrew</a>
        <a class="dropdown-item">Another Notification</a>
        <a class="dropdown-item">Another One</a>
      </div>
    </li>
  </div>

  <div class="nav-liinks">
    <i
      class="fa fa-sign-out float-right signoutLaptoptabview"
      (click)="Logout()"
    ></i>
  </div>
</nav>
<!--/.Navbar -->

<!-- side pannel -->

<div class="sidenav" [ngClass]="collepsed ? 'sidenv-collepsed' : ''">
  <div class="logo-container">
    <i
      class="material-icons"
      style="font: size 24px; color: white"
      (click)="toggelcollepse()"
      >menu</i
    >
    <button class="btn-close" *ngIf="collepsed">
      <i class="fal fa-times close-icon" (click)="closesisenav()"></i>
    </button>
  </div>
  <ul class="sidenav-nav">
    <li class="side-nav-item" *ngFor="let item of navBar">
      <a class="side-nav-link" [routerLink]="item.path">
        <i class="side-nav-icon" [class]="item.icon"></i>
        <span class="side-nav-text" *ngIf="collepsed">{{ item.title }}</span>
      </a>
    </li>
    <li><i class="fa fa-sign-out mobileviewsignout" (click)="Logout()"></i></li>
  </ul>
</div>
