<!--Navbar -->
<div class="body">
  <nav >
    <a>
      <img src="../../../assets/Skyban logo with transparent background.png"
    /></a>
  
    <div class="nav-liinks">
      <i
        class="fa fa-sign-out float-right signoutLaptoptabview"
        (click)="Logout()"
      ></i>
    </div>
  </nav>
  
</div>

<!--/.Navbar -->

<!-- side pannel -->

<!-- <div class="sidenav" [ngClass]="collepsed ? 'sidenv-collepsed' : ''">
  <div class="logo-container">
    <i
      class="material-icons"
      style="font: size 24px; color: white"
      (click)="toggelcollepse()"
      >menu</i
    >
    <button class="btn-close" *ngIf="collepsed">
      <i class="fal fa-times close-icon" (click)="closesisenav()"></i>
    </button>
  </div>
  <ul class="sidenav-nav">
    <li class="side-nav-item" *ngFor="let item of navBar">
      <a class="side-nav-link" [routerLink]="item.path">
        <i class="side-nav-icon" [class]="item.icon"></i>
        <span class="side-nav-text" *ngIf="collepsed">{{ item.title }}</span>
      </a>
    </li>
    <li><i class="fa fa-sign-out mobileviewsignout" (click)="Logout()"></i></li>
  </ul>
</div> -->
