nav{

    display: flex;    
    background-color: rgba(22, 29, 25, 0.189);
    margin-bottom: 10px;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin-left: 4.5rem;
    margin-right: -20px;

}

nav a img{
    align-items: center;
   
    width: 320px;
    height: auto;
    text-decoration: none;
    // padding-left: 50px;
}
.nav-liinks{
    align-items: center;    
    text-align: right;
    margin-right: 20px;
}
.mobileviewsignout{
    font-size: 0; 
}
.signoutLaptoptabview{
    font-size: 36px;
    color: #067bb5;
}

.nav-liinks i::after{    
    width: 0;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
    content: '';
}
.nav-liinks i:hover:after{
 width: 100%;
}
.nav-liinks ul li button{
    border-radius: 25px;
}


@media(max-width:430px){
  
    .mobileviewsignout{
        
        font-size: 24px; 
        color: white;    

    }
    .signoutLaptoptabview{
        font-size: 0px;
    }
    
    
}






//side pannel


.sidenav{

    background: #067bb5;

    // background: #0aa0eb;
    transition: all .5s ease;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 5rem;
    height: 100vh;
    box-shadow: 0.063rem 0 1.25rem 0 #8990a3;


    .logo-container{
        display: flex;
        align-items: center;
        padding: 0.938rem 0.938rem 0.938rem;
        width: 100%;

        .material-icons{
            font-size: 36px;
            text-align: center;
            width: 3rem;
            min-width: 3rem;
            // padding-left: -70px;
        }
        .logo{
            background: #fff;
            text-align: center;
            width: 3rem;
            min-width: 3rem;
            border-radius: 0.313rem;
            padding: 00.313rem;
            font-size: 24px;
            font-weight: 900;
            cursor: pointer;
            border: none;

        }
        .logo-text{
            margin-left: 1.5rem;
            font-size: 24px;
            font-weight: 700;
            color: #fff;
        }
        .btn-close{
            margin-left: auto;
            cursor: pointer;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            background-color: transparent;
            border: none;

            .fa-times{
                color: #fff;
                font-size: 24px;
            }

        }

    }
}

.sidenv-collepsed{
    width: 15rem;

}

.sidenav-nav{
    list-style: none;
    padding: 00.938rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: calc(100% - 3.65rem);
    cursor: pointer;

    .side-nav-item{
        width: 100%;
        margin-bottom: 0.625rem;

        .side-nav-link{
            display: flex;
            align-items: center;
            height: 3rem;
            color: #f3f3f3;
            border-radius: 0.625rem;
            text-decoration: none;
            transition: all .3s ease;

            .side-nav-icon{
                font-size: 22px;
                width: 2rem;
                min-width: 2rem;
                margin: 0 0.5rem;
                text-align: center;
            }
            .side-nav-text{
                margin-left: 1.5rem;
    
            }
        }

    }

    .side-nav-item:hover{
        .side-nav-link{
            background-color: #fff;
            color: #000;
        }
    }
}