// .card{
//     background-color: cadetblue;
//     height: 70px;
//     width: auto;
// }
.input{
   margin-top: 20px;
}
.btn{
    margin-top: 20px;
}
.icon{
    font-size: 20px;
}
.btns{
    margin-left: 15px;
    margin-top: -5px;
}
.rbtn{
    margin-top: -10px;
}