<div class="col-lg-12">
  <button
    type="button"
    class="btn btn-primary float-right"
    (click)="openModal(template)"
  >
    Add
  </button>

  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Modal</h4>
      <button
        type="button"
        class="btn-close close pull-right"
        aria-label="Close"
        (click)="modalRef?.hide()"
      >
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div [formGroup]="orderForm">
        <div
          formArrayName="selectIForm"
          *ngFor="
            let item of orderForm.get('selectIForm').controls;
            let i = index
          "
        >
          <div [formGroupName]="i">
            <div class="form-group">
              <label>Select Item:</label>
              <select
                class="form-select form-control"
                id="sel1"
                name="sellist1"
                formControlName="selectItem"
                (change)="onChange(item.get('selectItem').value)"
              >
                <option [disabled]="true" [selected]="true">select</option>
                <option
                  *ngFor="let option of optionList"
                  [disabled]="option.disable"
                >
                  {{ option.name }}
                </option>
              </select>
              <span
                class="text text-danger"
                *ngIf="
                  item.get('selectItem').errors?.required &&
                  item.get('selectItem').touched
                "
                >selectItem is required</span
              >
            </div>
            <div class="form-group">
              <label class="txtcolor">No. Of Images:</label>
              <input
                type="number"
                class="form-control"
                placeholder="Enter Quantity."
                formControlName="number"
              />
              <span
                class="text text-danger"
                *ngIf="
                  item.get('number').errors?.required &&
                  item.get('number').touched
                "
                >Quantity is required</span
              >
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-light" type="button">
        <i
          class="fa fa-plus text text-success"
          aria-hidden="true"
          (click)="itemFill()"
        ></i>
      </button>
      <!-- <button type="button" class="btn btn-success" (click)="addItem()">
        AddItem
      </button> -->
    </div>
  </ng-template>
</div>
