.center {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    justify-items: center;
    }
    .lbtn{
        text-align: center;
   }
   .btn{
    width: 130px;
    margin-bottom: 5px;
   }


.ficon{
     text-align: center;
     font-size: 20px;
     color: black;
 }
 label{
    font-weight: bold;
 }

