
    
<section >
  <div class="center justify-content-center">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-lg-12 col-xl-11" >
        <div class="card text-black " style="border-radius: 25px; ">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-2">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign in</p>
                <form [formGroup]="loginForm">
                  <div class="form-group ">
                    <label class="txtcolor">Email address:</label>
                    <input type="email" class="form-control" placeholder="Enter email" formControlName="email" [ngClass]="{'is-invalid' : f['email'].touched && f['email'].errors}">
                    <div *ngIf=" f['email'].touched && f['email'].errors" class="invalid-feedback">
              
                      <div *ngIf="f['email'].touched && f['email'].errors['required']">
                        Email Id is Required ..!
                      </div>
                      <div *ngIf=" f['email'].touched &&f['email'].errors['pattern']">
                      Please write email with Ex:-abc@gmail.com ..!
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="txtcolor">Password:</label>
                    <input type="password" class="form-control" placeholder="Enter password" formControlName="password" [ngClass]="{'is-invalid' : f['password'].touched && f['password'].errors}">
                    <div *ngIf="f['password'].touched && f['password'].errors" class="invalid-feedback">
              
                      <div *ngIf="f['password'].touched && f['password'].errors['required']">
                        Password is Required ..!
                      </div>
                      <div *ngIf="f['password'].touched && f['password'].errors['pattern']">
                        Password Must Atleast Contain 8 Char , Atleast 1 Upper Case , Atleast 1 Lower Case ,  Atleast 1 Special char and Atleast 1 Number ..!
                      </div>
                    </div>
                  </div>      
                          
                  <p>Don't Have Account ? <span (click)="signUp()">Sign Up</span></p>                   

                  <div class="lbtn"> 
                    <button type="submit" class="btn btn-primary" (click)="logIn()">Login</button>
                    <div class="ficon"><a   (click)="loginWithFacebook()"><i class="fab fa-facebook-f fa-lg"></i></a>
                      <a  (click)="loginwithTwitter()"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                      <a   (click)="loginWithgoogle()"><i class="fab fa-google fa-lg"></i></a>
                  </div>

          
                  </div>                
                  
                </form>
               

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-1">

                <img src="../../../assets/skills.png"
                  class="img-fluid" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



