

h1{
    text-align: center;
}
.imgcss{
    height: auto;
    width: 100px;
    border-radius: 25px;
}
.cardRow{
    justify-content: space-around;
}
.card {
    transition: box-shadow .3s;
    // box-shadow: 0;
}
.card:hover{
    box-shadow: 10px 10px 20px rgba(23, 4, 4, 0.905); 
}
