
h1{
    text-align: center;
}
tr{
    transition: box-shadow .3s; 
}
tr:hover{
    box-shadow: 10px 10px 20px rgba(23, 4, 4, 0.905); 

}
thead{
    background-color: aqua;
}
thead tr{
    box-shadow: none;
}

.searchinput{
    margin-left: 10px;
    width: 300px;
}

table{
    margin-left: 10px;
    margin-right: 10px;
}
label{
    font-weight: bold;
}


@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
    thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
    tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
    td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
        font-weight: bold
	}
    td:nth-of-type(1):before { content: "Name";}
	td:nth-of-type(2):before { content: "Email";}
	td:nth-of-type(3):before { content: "Mobile No."}
	td:nth-of-type(4):before { content: "Address";}
    td:nth-of-type(5):before { content: "UID"; }
	td:nth-of-type(6):before { content: "Action"; }
	
}