<app-header></app-header>


  <h1 >Welcome  to the Skyban Technology Pvt ltd</h1>
      <!-- <h1 *ngIf="user |async"> Welcome {{user.email}}</h1> -->
      <div class="row">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Mobile No.</th>
              <th>Adress</th>
              <th>UID</th>
              <th>Action</th>              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of userData ">
              <td>{{item.displayName}}</td>
              <td>{{item.email}}</td>
              <td>{{item.phoneNumber}}</td>
              <td>{{item.addrass}}</td>
              <td>{{item.uid}}</td>
              <td>
                <button type="button" class="btn  " data-toggle="modal" data-target="#myModal" (click)="editDetails(item.uid , item)">
                  <i class="material-icons" style="font-size:25px ; color: rgba(255, 200, 0, 0.949);">edit</i>
                </button>
                <button type="button" class="btn "  (click)="deleteUser(item.uid)"> <i class="material-icons" style="font-size:25px ; color: red;">delete</i></button>
              </td>
            </tr>      
          </tbody>
        </table>
      </div>

      <div class="row cardRow">
        <!-- <div class="card" *ngFor="let item of userData ;  ">
          <div class="card-body">
                   <h5><b>Name:</b> {{item.displayName}}</h5>
                   <p><b>Email:</b> {{item.email}}</p>
                   <p><b>Mobile no.:</b> {{item.phoneNumber}}</p>
                   
                   <p><b>Address:</b> {{item.addrass}}</p>
                   <p><b>UID:</b>{{item.uid}}</p>
                   <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#myModal" (click)="editDetails(item.uid , item)">
                    Edit
                  </button>
                  <button type="button" class="btn btn-danger float-right" (click)="deleteUser(item.uid)"> Delete</button>
          </div> 
        </div> -->
        <div class="modal" id="myModal">
          <div class="modal-dialog">
            <div class="modal-content">
            
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Edit Users Details</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              
              <!-- Modal body -->
              <div class="modal-body">
                <form [formGroup]="EditUserForm" >
                  <div class="form-group">
                    <label class="txtcolor">Full Name:</label>
                    <input type="text" class="form-control" placeholder="Enter Your Name" formControlName="displayName" [ngClass]="{'is-invalid': f['displayName'].touched && f['displayName'].errors}">
                    <div *ngIf="f['displayName'].touched && f['displayName'].errors" class="invalid-feedback">
                      <div *ngIf="f['displayName'].touched && f['displayName'].errors['required']">
                        Full Name Is Required....!
                      </div>
                      <div *ngIf="f['displayName'].touched && f['displayName'].errors['minlength']">
                        Full Name Must Be Minimum 6 Char....!
                      </div>
                        
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="txtcolor">Address.:</label>
                    <input type="text" class="form-control" placeholder="Enter Your Address" formControlName="addrass" [ngClass]="{'is-invalid': f['addrass'].touched && f['addrass'].errors}" >
                    <div *ngIf=" f['addrass'].touched && f['addrass'].errors" class="invalid-feedback">
                      <div *ngIf="f['addrass'].touched && f['addrass'].errors['required']">
                        Address is Required ...!
                      </div>
                      <div *ngIf="f['addrass'].touched && f['addrass'].errors['minlength']">
                        Minimum Address Length 10 is Required ...!
                      </div>
            
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="txtcolor">Mobile No.:</label>
                    <input type="tel"  maxlength="10" class="form-control" placeholder="Enter Your Mobile No." formControlName="phoneNumber" [ngClass]="{'is-invalid': f['phoneNumber'].touched && f['phoneNumber'].errors}">
                    <div *ngIf=" f['phoneNumber'].touched && f['phoneNumber'].errors" class="invalid-feedback">
                      <div *ngIf="f['phoneNumber'].touched && f['phoneNumber'].errors['required']">
                        Mobile No. is Required ...!
                      </div>
                      <div *ngIf="f['phoneNumber'].touched && f['phoneNumber'].errors['minlength']">
                        Minimum 10 Digit Mobile No. is Required........!
                      </div>
                      <div *ngIf="f['phoneNumber'].touched && f['phoneNumber'].errors['maxlength']">
                        Mobile No. Must be Only 10 Digit ......!
                      </div>
            
                    </div>
                  </div>
                    <div class="form-group">
                      <label class="txtcolor">Email address:</label>
                      <input type="email" class="form-control" placeholder="Enter email" formControlName="email" [ngClass]="{'is-invalid': f['email'].touched && f['email'].errors}" readonly >
                      <div *ngIf=" f['email'].touched && f['email'].errors" class="invalid-feedback">
                        <div *ngIf="f['email'].touched && f['email'].errors['required']">
                          Email id is Required ...!
                        </div>
                        <div *ngIf="f['email'].touched && f['email'].errors['email']">
                          Please Write Email in this pattern ex: abc@gmail.com  ...!
                        </div>
              
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="txtcolor">UID:</label>
                      <input type="text" class="form-control" placeholder=" " formControlName="uid"  readonly >
                      
                    </div>
                    
                </form>
              </div>
              
              <!-- Modal footer -->
              <div class="modal-footer">
                <button class=" btn btn-warning" (click)="updateData()" data-dismiss="modal" >Update</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="closeForm()">Close</button>
              </div>
              
            </div>
          </div>
        </div>
        
      </div>
      
      















