.dropdown-menu{
    padding-left: -10px;
}


.mobileviewsignout{
    font-size: 0; 
}
.sidenav{
    display: flex;
    background: rgba(22, 29, 25, 0.907);
    // background: #0aa0eb;
    transition: all .5s ease;
    position: fixed;
    z-index: 1;
    top: 0vh;
    
    width: 5rem;
    height: 100vh;
    // box-shadow: 0.063rem 0 1.25rem 0 #8990a3;
    transform: translateY(10.5vh);
}


    .logo-container{
        display: flex;
        align-items: center;
        padding: 0.938rem 0.938rem 0.938rem;
        width: 100%;

        .material-icons{
            font-size: 36px;
            text-align: center;
            width: 3rem;
            min-width: 3rem;
            // padding-left: -70px;
        }
        .logo{
            background: #fff;
            text-align: center;
            width: 3rem;
            min-width: 3rem;
            border-radius: 0.313rem;
            padding: 00.313rem;
            font-size: 24px;
            font-weight: 900;
            cursor: pointer;
            border: none;

        }
        .logo-text{
            margin-left: 1.5rem;
            font-size: 24px;
            font-weight: 700;
            color: #fff;
        }
        .btn-close{
            margin-left: auto;
            cursor: pointer;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            background-color: transparent;
            border: none;

            .fa-times{
                color: #fff;
                font-size: 24px;
            }

        }

    }
    @media (max-width:990px) and (min-width:768px) {
        .sidenav{
           transform: translateY(8.5vh);
        }   
       }
       @media (max-width:768px) and (min-width:320px) {
        .sidenav{
           transform: translateY(8.5vh);
        }   
       }

.sidenv-collepsed{
    width: 15rem;

}

.sidenav-nav{
    list-style: none;
    padding: 00.938rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: calc(100% - 3.65rem);
    cursor: pointer;

    .side-nav-item{
        width: 100%;
        margin-bottom: 0.625rem;

        .side-nav-link{
            display: flex;
            align-items: center;
            height: 3rem;
            color: #f3f3f3;
            border-radius: 0.625rem;
            text-decoration: none;
            transition: all .3s ease;

            .side-nav-icon{
                font-size: 22px;
                width: 2rem;
                min-width: 2rem;
                margin: 0 0.5rem;
                text-align: center;
            }
            .side-nav-text{
                margin-left: 1.5rem;
    
            }
        }

    }

    .side-nav-item:hover{
        .side-nav-link{
            background-color: #fff;
            color: #000;
        }
        .menu-collapse-icon{
            color: #000;
        }
    }
}
.active{
    background-color: #fff;
    .menu-collapse-icon,
    .side-nav-icon,
    .side-nav-text{
        color: #000;
    }

}

.submenu-nav{
    list-style: none;

    .submenu-nav-items{
        .submenu-link{
            display: flex;
            align-items: center;
            height: 3rem;
            color: #898989;
            text-decoration: none;
            border-radius: 0.625rem;
            transition: all .3s ease;

            .submenu-link-icon{
                font-size: 22px;
                width: 2rem;
                min-width: 2rem;
                margin: 0 0.5rem;
                text-align: center;
            }

        }
        .submenu-link:hover{
            color: #f3f3f3;
        }
    }
}

.menu-collapse-icon{
    font-size: 25px;
    width: 2rem;
    min-width: 2rem;
    margin: auto 0.5rem auto auto;
    text-align: center;
    color: #f3f3f3;
}
@media(max-width:430px){
  
    .mobileviewsignout{
        
        font-size: 24px; 
        color: white;    

    }
    // .signoutLaptoptabview{
    //     font-size: 0px;
    // }
    
    
}