<div class="sidenav "  (mouseout)="closesisenav()" [ngClass]="collepsed ? 'sidenv-collepsed' : ''">
   
    <ul class="sidenav-nav">
      <li class="side-nav-item" *ngFor="let item of navBar">
        <a class="side-nav-link" [routerLink]="item.path" (mouseover)="toggelcollepse()"  (mouseout)="closesisenav()">
          <i class="side-nav-icon" [class]="item.icon"></i>
          <span class="side-nav-text" *ngIf="collepsed">{{ item.title }}</span>
        </a>
      </li>
      <li><i class="fa fa-sign-out mobileviewsignout" (click)="Logout()"></i></li>
    </ul>
  </div>
 